<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>ports.utility.portsInitializer</listener-class>
    </listener>
    <context-param>
        <param-name>jdbcClassName</param-name>
        <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
    </context-param>
    <context-param>
        <param-name>dbUserName</param-name>
        <param-value>app</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>app</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcDriverURL</param-name>
        <param-value>jdbc:derby</param-value>
    </context-param>
    <context-param>
        <param-name>dbHostName</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>dbPort</param-name>
        <param-value>1527</param-value>
    </context-param>
    <context-param>
        <param-name>databaseName</param-name>
        <param-value>PORTS</param-value>
    </context-param>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>ports.controllers.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeAddressServlet</servlet-name>
        <servlet-class>ports.controllers.removeAddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminHistorySort</servlet-name>
        <servlet-class>ports.controllers.adminHistorySort</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>ports.controllers.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkoutServlet</servlet-name>
        <servlet-class>ports.controllers.checkoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeItemFromCartServlet</servlet-name>
        <servlet-class>ports.controllers.removeItemFromCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getSpecificProductServlet</servlet-name>
        <servlet-class>ports.controllers.getSpecificProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getSpecificProductServlet</servlet-name>
        <url-pattern>/SpecificProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>ports.controllers.registerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>changePasswordServlet</servlet-name>
        <servlet-class>ports.controllers.changePasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>changePasswordServlet</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CaptchaServlet</servlet-name>
        <servlet-class>ports.models.CaptchaGenerator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CaptchaServlet</servlet-name>
        <url-pattern>/Captcha</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addAddressServlet</servlet-name>
        <servlet-class>ports.controllers.addAddressServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>1527</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>PORTS</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>addToCartServlet</servlet-name>
        <servlet-class>ports.controllers.addToCartServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>1527</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>PORTS</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>addAddressServlet</servlet-name>
        <url-pattern>/addAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCartServlet</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeAddressServlet</servlet-name>
        <url-pattern>/removeAddress</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>confirmEditProductServlet</servlet-name>
        <servlet-class>ports.controllers.confirmEditProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>confirmEditProductServlet</servlet-name>
        <url-pattern>/confirmEdit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>editProductServlet</servlet-name>
        <servlet-class>ports.controllers.editProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editProductServlet</servlet-name>
        <url-pattern>/editProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminHistorySort</servlet-name>
        <url-pattern>/adminHistorySort</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteFServlet</servlet-name>
        <servlet-class>ports.controllers.deleteFServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteFServlet</servlet-name>
        <url-pattern>/deleteOrder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>paymentFServlet</servlet-name>
        <servlet-class>ports.controllers.paymentFServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>paymentFServlet</servlet-name>
        <url-pattern>/updatePayment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateFServlet</servlet-name>
        <servlet-class>ports.controllers.updateFServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateFServlet</servlet-name>
        <url-pattern>/updateOrderStatus</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adminUpdateServlet</servlet-name>
        <servlet-class>ports.controllers.adminUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminUpdateServlet</servlet-name>
        <url-pattern>/adminUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeItemFromCartServlet</servlet-name>
        <url-pattern>/removeItemFromCart</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>orderReceivedServlet</servlet-name>
        <servlet-class>ports.controllers.orderReceivedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>orderReceivedServlet</servlet-name>
        <url-pattern>/orderReceived</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>giveFeedbackServlet</servlet-name>
        <servlet-class>ports.controllers.giveFeedbackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>giveFeedbackServlet</servlet-name>
        <url-pattern>/giveFeedback</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            900
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.html</location>
    </error-page>
</web-app>
