/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02 14, 22, 1:50:52 AM
    Author     : chuah_000
*/

@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

*{
    font-family: 'Satisfy', cursive;
    color: #fff;
    margin: 0;
    padding: 0;
}

html,body {
    background-color: #1e1f20;
    height:100%; 
    font-size: 14px;
}

.contentHolder {
    height: 100%;
    display: flex;
}

.sidebar {
    background-color: #2e2e2e;
    height: 100%;
    width: 15%;
    border-top-right-radius:5%;
    border-bottom-right-radius:5%;
}

.logo {
    border-radius: 50%;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    margin-bottom: 27%;
}

.adminOptions {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2e2e2e;
    font-size: 1.5vw;
}

.options {
    float: bottom;
    background-color: #2e2e2e;
    text-align: left;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.options a {
    margin-bottom: 4%;
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
    background-color: #2e2e2e
}

.options a:hover {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
}

.logout {
    overflow: hidden;
    font-size: 1.2vw;
    margin-top: 80%;
    margin-left: 3%;
    bottom: 0%;
    position: fixed;
    padding: 1%;
    cursor: pointer;
}

.logout a {
    margin-bottom: 4%;
    margin-left: 20%;
    display: block;
    color: white;
    text-decoration: none;
    background-color: #2e2e2e
}

.logout:hover {
    background-color: #cd212a;
    color: #fff;
    border-radius: 15%;
}

.adminGreetings {
    width: 20%;
}

.helloAdmin {
    font-size: 2rem;
    text-align: center;
    background-color: #2e2e2e;
    min-width: 15rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: inset 15px 15px 30px #212121,
                inset -15px -15px 30px #3b3b3b;
}

.pageContent {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 2rem;
    margin: 1rem;
    width: 100%;
}

.adminContent {
    width: auto;
    height: 850px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    
    border-radius: 10px;
    font-family: "roboto";
}

.arrangeOptions {
    width: 100%;
    margin-top: -1%;
    background-color: #2e2e2e;
    border-radius: 5px;
    padding: 1%;
    align-items: center;
}

label {
    background-color: #2e2e2e;
    font-size: 1.5vw;
    margin-left: 2%;
}

.arrange {
    background-color: #000;
    color: #fff;
    font-size: 1.5vw;
}


.orderProperties {
    display: flex;
    width: 100%;
    padding: 1%;
    margin: -1% 0 -2% 0;
    font-size: 1.5vw;
    align-items: center;
}

.property {
    flex: 1;
    justify-content: center;
    text-align: center;
}

.test {
    background-color: yellow;
    color: pink;
}

.orderBody {
    display: flex;
    width: 100%;
    margin: 1% 0 0 0;
    padding: 1%;
    background-color: #2e2e2e;
    border-radius: 5px;
    font-size: 1.5vw;
}

.orderPropertyColumnBig {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.orderPropertyRow {
    display: flex;
    flex: 1;
}

.orderPropertyChildren {
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
}

.orders {
    background-color: #2e2e2e;
    margin-top: 1%;
    margin-left: 5%;
    width: 99%;
    font-size: 1.5vw;
    border-radius: 2.5%;
    padding: 1%;
}

.orderRemove {
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
}

#orderRemoveID {
    font-size: 2vw;
    cursor: pointer;
    transform: rotate(45deg);
}

.pageList {
    list-style-type: none;
    width: 100%;
    overflow: hidden;
    font-size: 1vw;
    margin-left: 2.5%;
    bottom: 13.5%;
    position: fixed;
}

.pageNumber,.pageNumber2 {
    float: left;
    background-color: #737373;
    margin-right: 1%;
    padding-top: .5%;
    padding-bottom: .5%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 10px;
}

.pageNumber2 {
    background-color: #008c45;
}

.cancelModal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modalContent {
    width: 500px;
    height: 300px;
    background-color: #f2f4ea;
    text-align: center;
}

.modalText {
    font-size: 200%;
    color: #1e1f20;
}

.modalButtonYes {
    color: #000;
    background-color: #f2f4ea;
    font-size: 200%;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 15%;
    border-radius: 5%;
    cursor: pointer;
}

.modalButtonNo {
    color: #000;
    background-color: #ff5757;
    font-size: 200%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 5%;
    cursor: pointer;
}


.pagenumbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.pagenumbers button {
    width: 3%;
    height: 120%;

    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;

    background-color: #574b3e;

    margin: 5px;
    transition: 0.4s;

    color: #FFF;
    font-size: 1vw;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    
    border-radius: 5px;
}

.pagenumbers button:hover {
    background-color: #008C45;
}

.pagenumbers button.active {
    background-color: #008C45;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.PDFGenerator {
    margin-left: 5%;
    bottom: 5%;
    position: fixed;
}

.generatePDF {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1vw;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: #884e3d;
}