@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html,body {
    background-color: #1e1f20;
    height:100%; 
    font-size: 14px;
}

.contentHolder {
    height: 100%;
    display: flex;
}

.sidebar {
    background-color: #2e2e2e;
    height: 100%;
    width: 15%;
    border-top-right-radius:5%;
    border-bottom-right-radius:5%;
}

.logo {
    border-radius: 50%;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    margin-bottom: 27%;
}

.adminOptions {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2e2e2e;
    font-size: 1.2vw;
}

.options {
    float: bottom;
    background-color: #2e2e2e;
    padding-bottom: 15px;
}

.options a {
    margin-bottom: 4%;
    margin-left: 20%;
    display: block;
    color: white;
    padding: 4%;
    text-decoration: none;
    background-color: #2e2e2e;
}

.options a:hover {
    background-color: #fff;
    color: #000;
    border-radius: 5%;
    margin-right: 20%;
}

.logout {
    overflow: hidden;
    font-size: 1.2vw;
    margin-top: 80%;
    margin-left: 3%;
    bottom: 0%;
    position: fixed;
    padding: 1%;
    cursor: pointer;
    color: #fff;
}

.logout a {
    margin-bottom: 4%;
    margin-left: 20%;
    display: block;
    color: white;
    text-decoration: none;
    background-color: #2e2e2e;
}

.logout:hover {
    background-color: #cd212a;
    color: #fff;
    border-radius: 15%;
}

.adminGreetings {
    width: 20%;
}

.helloAdmin {
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
    text-align: center;
    background-color: #CD212A;
    min-width: 15rem;
    padding: 1rem;
    border-radius: 10px;
    /*box-shadow: inset 15px 15px 30px #212121,
        inset -15px -15px 30px #3b3b3b;*/
}

.pageContent {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 2rem;
    margin: 1rem;
    width: 100%;
    overflow-y: scroll;
    color: #fff;
}

.adminContent {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1vw;
    border-radius: 10px;
}

.arrangeOptions {
    width: 98%;
    margin-top: -1%;
    background-color: #2e2e2e;
    border-radius: 5px;
    padding: 1%;
    align-items: center;
}

label {
    background-color: #2e2e2e;
    font-size: 1.3vw;
    margin-left: 2%;
}

.arrange {
    background-color: #2e2e2e;
    color: #fff;
    font-size: 1.3vw;
}

.orderProperties {
    display: flex;
    width: 100%;
    padding: 1%;
    margin: -1% 0 -2% 0;
    font-size: 1.3vw;
    align-items: center;
}

.property {
    flex: 1;
    justify-content: center;
    text-align: center;
}

.orderMain {
    max-height: 65%;
    overflow-x: hidden;
    overflow-y: auto;
}

.orderMain::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    scroll-behavior: smooth;
}

.orderMain::-webkit-scrollbar-track {
    background:#302c2c;
}

.orderMain::-webkit-scrollbar-thumb {
    background: #CD212A;
    border-radius: 5rem;
}

.orderBody {
    display: flex;
    width: 100%;
    margin: 1% 0 0 0;
    padding: 1%;
    background-color: #2e2e2e;
    border-radius: 5px;
    font-size: 1.1vw;
    box-shadow: inset 8px 8px 16px #252525,
                inset -8px -8px 16px #373737;
}

.orderPropertyColumnBig {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.orderPropertyRow {
    display: flex;
    flex: 1;
}

.orderPropertyEmptyRow {
    display: flex;
    flex: 1;
    visibility: hidden;
}

.orderPropertyEmptyRow2 {
    display: flex;
    flex: 1;
    font-size: 1.1vw;
    text-align: center;
    align-items: center;
}

.orderPropertyChildren {
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
}

.orders {
    background-color: #2e2e2e;
    margin-top: 1%;
    margin-left: 5%;
    width: 99%;
    font-size: 1.5vw;
    border-radius: 2.5%;
    padding: 1%;
}

.pagenumbers {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.pagenumbers button {
    width: 5%;
    height: 120%;
    flex-shrink: 0;
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #555555;
    margin: 5px;
    padding: 5px;
    transition: 0.4s;
    color: #FFF;
    font-size: 1vw;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.pagenumbers button:hover {
    background-color: #008C45;
}

.pagenumbers button.active {
    background-color: #008C45;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.PDFGenerator {
    margin-left: 5%;
    bottom: 5%;
    position: fixed;
}

.generatePDF {
    width: 25%;
    height: 25%;
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #555555;
    margin: 1.2vw 2vw 9vw 5px;
    padding: 1vw;
    transition: 0.4s;
    color: #FFF;
    font-size: 1vw;
    vertical-align: center;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.generatePDF:hover {
    background-color: #008C45;
}

.generatePDF.active {
    background-color: #008C45;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.scrollnumbers {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    min-height: 5%;
}

.scrollnumbers::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    scroll-behavior: smooth;
}

.scrollnumbers::-webkit-scrollbar-track {
    background:#302c2c;
}

.scrollnumbers::-webkit-scrollbar-thumb {
    background: #CD212A;
    border-radius: 5rem;
}

.dateranges {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    min-height: 5%;
    width: 25%;
    color: #000;
    text-align: center;
    padding: 0.5rem;
}

.daterangepicker {
  position: absolute;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 278px;
  max-width: none;
  padding: 0;
  margin-top: 7px;
  top: 100px;
  left: 20px;
  z-index: 3001;
  display: none;
  font-family: arial;
  font-size: 15px;
  line-height: 1em;
}

.daterangepicker:before, .daterangepicker:after {
  position: absolute;
  display: inline-block;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.daterangepicker:before {
  top: -7px;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #ccc;
}

.daterangepicker:after {
  top: -6px;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
}

.daterangepicker.opensleft:before {
  right: 9px;
}

.daterangepicker.opensleft:after {
  right: 10px;
}

.daterangepicker.openscenter:before {
  left: 0;
  right: 0;
  width: 0;
  margin-left: auto;
  margin-right: auto;
}

.daterangepicker.openscenter:after {
  left: 0;
  right: 0;
  width: 0;
  margin-left: auto;
  margin-right: auto;
}

.daterangepicker.opensright:before {
  left: 9px;
}

.daterangepicker.opensright:after {
  left: 10px;
}

.daterangepicker.drop-up {
  margin-top: -7px;
}

.daterangepicker.drop-up:before {
  top: initial;
  bottom: -7px;
  border-bottom: initial;
  border-top: 7px solid #ccc;
}

.daterangepicker.drop-up:after {
  top: initial;
  bottom: -6px;
  border-bottom: initial;
  border-top: 6px solid #fff;
}

.daterangepicker.single .daterangepicker .ranges, .daterangepicker.single .drp-calendar {
  float: none;
}

.daterangepicker.single .drp-selected {
  display: none;
}

.daterangepicker.show-calendar .drp-calendar {
  display: block;
}

.daterangepicker.show-calendar .drp-buttons {
  display: block;
}

.daterangepicker.auto-apply .drp-buttons {
  display: none;
}

.daterangepicker .drp-calendar {
  display: none;
  max-width: 270px;
}

.daterangepicker .drp-calendar.left {
  padding: 8px 0 8px 8px;
}

.daterangepicker .drp-calendar.right {
  padding: 8px;
}

.daterangepicker .drp-calendar.single .calendar-table {
  border: none;
}

.daterangepicker .calendar-table .next span, .daterangepicker .calendar-table .prev span {
  color: #fff;
  border: solid black;
  border-width: 0 2px 2px 0;
  border-radius: 0;
  display: inline-block;
  padding: 3px;
}

.daterangepicker .calendar-table .next span {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.daterangepicker .calendar-table .prev span {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  min-width: 32px;
  width: 32px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  white-space: nowrap;
  cursor: pointer;
}

.daterangepicker .calendar-table {
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: #fff;
}

.daterangepicker .calendar-table table {
  width: 100%;
  margin: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
  background-color: #eee;
  border-color: transparent;
  color: #000;
}

.daterangepicker td.week, .daterangepicker th.week {
  font-size: 80%;
  color: #ccc;
}

.daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
  background-color: #fff;
  border-color: transparent;
  color: #999;
}

.daterangepicker td.in-range {
  background-color: #ebf4f8;
  border-color: transparent;
  color: #000;
  border-radius: 0;
}

.daterangepicker td.start-date {
  border-radius: 4px 0 0 4px;
}

.daterangepicker td.end-date {
  border-radius: 0 4px 4px 0;
}

.daterangepicker td.start-date.end-date {
  border-radius: 4px;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #357ebd;
  border-color: transparent;
  color: #fff;
}

.daterangepicker th.month {
  width: auto;
}

.daterangepicker td.disabled, .daterangepicker option.disabled {
  color: #999;
  cursor: not-allowed;
  text-decoration: line-through;
}

.daterangepicker select.monthselect, .daterangepicker select.yearselect {
  font-size: 12px;
  padding: 1px;
  height: auto;
  margin: 0;
  cursor: default;
}

.daterangepicker select.monthselect {
  margin-right: 2%;
  width: 56%;
}

.daterangepicker select.yearselect {
  width: 40%;
}

.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
  width: 50px;
  margin: 0 auto;
  background: #eee;
  border: 1px solid #eee;
  padding: 2px;
  outline: 0;
  font-size: 12px;
}

.daterangepicker .calendar-time {
  text-align: center;
  margin: 4px auto 0 auto;
  line-height: 30px;
  position: relative;
}

.daterangepicker .calendar-time select.disabled {
  color: #ccc;
  cursor: not-allowed;
}

.daterangepicker .drp-buttons {
  clear: both;
  text-align: right;
  padding: 8px;
  border-top: 1px solid #ddd;
  display: none;
  line-height: 12px;
  vertical-align: middle;
}

.daterangepicker .drp-selected {
  display: inline-block;
  font-size: 12px;
  padding-right: 8px;
}

.daterangepicker .drp-buttons .btn {
  margin-left: 8px;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
}

.daterangepicker.show-ranges.single.rtl .drp-calendar.left {
  border-right: 1px solid #ddd;
}

.daterangepicker.show-ranges.single.ltr .drp-calendar.left {
  border-left: 1px solid #ddd;
}

.daterangepicker.show-ranges.rtl .drp-calendar.right {
  border-right: 1px solid #ddd;
}

.daterangepicker.show-ranges.ltr .drp-calendar.left {
  border-left: 1px solid #ddd;
}

.daterangepicker .ranges {
  float: none;
  text-align: left;
  margin: 0;
}

.daterangepicker.show-calendar .ranges {
  margin-top: 8px;
}

.daterangepicker .ranges ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.daterangepicker .ranges li {
  font-size: 12px;
  padding: 8px 12px;
  cursor: pointer;
}

.daterangepicker .ranges li:hover {
  background-color: #eee;
}

.daterangepicker .ranges li.active {
  background-color: #08c;
  color: #fff;
}

/*  Larger Screen Styling */
@media (min-width: 564px) {
  .daterangepicker {
    width: auto;
  }

  .daterangepicker .ranges ul {
    width: 140px;
  }

  .daterangepicker.single .ranges ul {
    width: 100%;
  }

  .daterangepicker.single .drp-calendar.left {
    clear: none;
  }

  .daterangepicker.single .ranges, .daterangepicker.single .drp-calendar {
    float: left;
  }

  .daterangepicker {
    direction: ltr;
    text-align: left;
  }

  .daterangepicker .drp-calendar.left {
    clear: left;
    margin-right: 0;
  }

  .daterangepicker .drp-calendar.left .calendar-table {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .daterangepicker .drp-calendar.right {
    margin-left: 0;
  }

  .daterangepicker .drp-calendar.right .calendar-table {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .daterangepicker .drp-calendar.left .calendar-table {
    padding-right: 8px;
  }

  .daterangepicker .ranges, .daterangepicker .drp-calendar {
    float: left;
  }
}

@media (min-width: 730px) {
  .daterangepicker .ranges {
    width: auto;
  }

  .daterangepicker .ranges {
    float: left;
  }

  .daterangepicker.rtl .ranges {
    float: right;
  }

  .daterangepicker .drp-calendar.left {
    clear: none !important;
  }
}
