/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02 14, 22, 1:50:52 AM
    Author     : chuah_000
*/

@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

*{
    font-family: 'Satisfy', cursive;
    color: #fff;
}

html,body { 
    height:100%; 
    background-color: #1e1f20;
    
}

.contentHolder {
    height: 100%;
    
}

.sidebar {
    background-color: #2e2e2e;
    float: left;
    height: 100%;
    width: 15%;
    border-top-right-radius:5%;
    border-bottom-right-radius:5%;
    margin-left: -2%;
    margin-top: -2%;
}

.logo {
    border-radius: 50%;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    margin-bottom: 27%;
}

.adminOptions {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2e2e2e;
    font-size: 1.5vw;
}

.options {
    float: bottom;
    background-color: #2e2e2e
}

.options a {
    margin-bottom: 4%;
    margin-left: 20%;
    display: block;
    color: white;
    padding: 4%;
    text-decoration: none;
    background-color: #2e2e2e
}

.options a:hover {
    background-color: #fff;
    color: #000;
    border-radius: 5%;
    margin-right: 20%;
}

.logout {
    overflow: hidden;
    font-size: 1.2vw;
    margin-top: 80%;
    margin-left: 5%;
    bottom: 0%;
    position: fixed;
    padding: 1%;
    cursor: pointer;
}

.logout a {
    margin-bottom: 4%;
    margin-left: 20%;
    display: block;
    color: white;
    text-decoration: none;
    background-color: #2e2e2e
}

.logout:hover {
    background-color: #cd212a;
    color: #fff;
    border-radius: 15%;
}   

.adminGreetings {
    width: 20%;
    margin-left: 16%;
}

.helloAdmin {
    font-size: 2vw;
    text-align: center;
    background-color: #2e2e2e;
    border-radius: 2.5%;
}

.adminContent {
    background-color: #2e2e2e;
    left: 15%;
    right: 1%;
    bottom: 5%;
    position: fixed;
    top: 13%;
}

.pdfContent {
    background-color: #2e2e2e;
    width: 100%;
}

pdfItem {
    width: 100%;
}

.menuCategory {
    padding-left: 1%;
    padding-right: 1%;
    float: left;
    width: 100%;
    margin-left: 7%;
}

.pizzaOrToppings {
    list-style-type: none;
    font-size: 1.5vw;
}

.pizzaOrToppingsCategory {
    float: left;
    background-color: #2e2e2e;
    padding-left: 3%;
    padding-right: 3%;
    margin-right: 0.5%;
}

.pizzaOrToppingsCategory:hover {
    background-color: #fff;
    color: #000;
    border-radius: 5%;
}

.pizzaChoices {
    display: table-row;
}

.pizzaDisplay1, .pizzaDisplay2, .pizzaDisplay3{
    display: table-cell;
    position: relative;
}

.pizzaImg {
    max-width: 65%;
    max-height: 65%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.pizzaName1, .pizzaName2, .pizzaName3, .pizzaDesc1, .pizzaDesc2, .pizzaDesc3, .price1, .price2, .price3 {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.pizzaName1, .pizzaName2, .pizzaName3, .price1, .price2, .price3 {
    font-size: 130%;
}

.bottomButtons{
    background-color: #2e2e2e;
    padding: 1%;
    margin-top: 2%;
}

.pageList {
    float:left;
    list-style-type: none;
    width: 75%;
    overflow: hidden;
    font-size: 1vw;
    margin-left: 0%;
    position: fixed;
    bottom: 7%;
}

.pageNumber{
    float: left;
    background-color: #737373;
    margin-right: 1%;
    padding-top: .5%;
    padding-bottom: .5%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 15%;
}

.editProductsButton {
    float: right;
    margin-right: 5%;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1vw;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: #cd212a;
    width: 15%;
    cursor: pointer;
    position: fixed;
    bottom: 7%;
    right: 1%;
}

.pdfContent {
    float: left;
    margin-left: 5%;
    bottom: 5%;
    width: 80%;
    height: 80%;
}

.pdfItem {
    width: 100%;
    height: 100%;
}
