@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
*{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

html {
    font-size: 14px;
}
html,body { 
    height:100%; 
    background-color: #1e1f20;
}
.contentHolder {
    height: 100%;
    display: flex;
}

.sidebar {
    background-color: #2e2e2e;
    height: 100%;
    width: 15%;
    border-top-right-radius:5%;
    border-bottom-right-radius:5%;
}

.logo {
    border-radius: 50%;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    margin-bottom: 27%;
}

.adminOptions {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2e2e2e;
    font-size: 1.2vw;
}

.options {
    float: bottom;
    background-color: #2e2e2e;
    padding-bottom: 15px;
}

.options a {
    margin-bottom: 4%;
    margin-left: 20%;
    display: block;
    padding: 4%;
    color: white;
    text-decoration: none;
    background-color: #2e2e2e;
}

.options a:hover {
    background-color: #fff;
    color: #000;
    border-radius: 5%;
    margin-right: 20%;
}

.logout {
    overflow: hidden;
    font-size: 1.2vw;
    margin-top: 80%;
    margin-left: 3%;
    bottom: 0%;
    position: fixed;
    padding: 1%;
    cursor: pointer;
}

.logout a {
    margin-bottom: 4%;
    margin-left: 20%;
    display: block;
    color: white;
    text-decoration: none;
    background-color: #2e2e2e
}

.logout:hover {
    background-color: #cd212a;
    color: #fff;
    border-radius: 15%;
}   

.adminGreetings {
    width: 20%;
}

.helloAdmin {
    font-size: 2rem;
    text-align: center;
    background-color: #CD212A;
    min-width: 15rem;
    padding: 1rem;
    border-radius: 10px;
    /*box-shadow: inset 15px 15px 30px #212121,
                inset -15px -15px 30px #3b3b3b;*/
}

.pageContent {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 2rem;
    margin: 1rem;
    width: 100%;
    overflow-y: scroll;
}

.pageContent::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.adminContent {
    background-color: #2e2e2e;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 10px;
}

.chart-chart{
    margin: 50px auto;
    width: 300px;
    height: 800px;
}

.chartContainer {
    width: 100%;
    text-align: center;
    background: pink;
    min-height: 45rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    color: #2e2e2e;
    
}

.analyticsContainer {
    width: auto;
    background-color: transparent;
    border-radius: 10px;
    min-height: 35rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.overviewContainer {
    height: auto;
    background-color: transparent;
    width: 45%;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
    justify-content: space-around;
    box-shadow: inset 15px 15px 30px #212121,
                inset -15px -15px 30px #3b3b3b;
    text-align: center;
}

.feedbacksContainer{
    height: auto;
    background-color: blue;
    border-radius: 10px;
    width: 55%;
    padding: 1rem;
    display: flex;
    text-align: center;
}

.overviewRow {
    display: flex;
    flex-direction: row;
    gap: 1.1rem;
    width: auto;
    background-color: black;    
    min-height: 5rem;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex: 1;
}

.overviewContainer h3 {
    font-size: 1.2rem;
}

.text {
    width: 70%;
    height: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.text p{
    font-size: 1.3rem;
    color: white;
}
.value {
    width: 30%;
    height: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.value p {
    font-size: 1.3rem;
    color: white; 
}

.feedbacksContainer{
    height: auto;
    background-color: transparent;
    border-radius: 10px;
    width: 60%;
    padding: 1rem;
    display: flex;
    text-align: center !important;
    box-shadow: inset 15px 15px 30px #212121,
            inset -15px -15px 30px #3b3b3b;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
}

.feedbacksContainer h3 {
    width: 100%;
    font-size: 1.2rem;
}

.feedbackRowH {
    display: flex;
    flex-direction: row;
    height: auto;
    background-color: black;
    border-radius: 10px;
    font-size: 1.2rem;
}

.feedbackRowH div {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}

.feedbackRow {
    display: flex;
    flex-direction: row;
    min-height: 5rem;
    height: auto;
    background-color: black;
    border-radius: 10px;
    font-size: 1rem;
}

.feedbackRow div {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col1 {
    min-width: 6rem;
    max-width: 6rem;
}

.col2 {
    min-width: 15rem;
    max-width: 15rem;
}

.col3 {
    text-justify: justify;
    word-wrap: break-word;
    max-width: 26rem;
}

.col3 p {
    width: 100%;
}