@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
*{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

html,body {
    background-color: #1e1f20;
    height:100%; 
    font-size: 14px;
}

.contentHolder {
    height: 100%;
    display: flex;
}

.sidebar {
    background-color: #2e2e2e;
    height: 100%;
    width: 15%;
    border-top-right-radius:5%;
    border-bottom-right-radius:5%;
}

.logo {
    border-radius: 50%;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    margin-bottom: 27%;
}

.adminOptions {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2e2e2e;
    font-size: 1.2vw;
}

.options {
    float: bottom;
    background-color: #2e2e2e;
    padding-bottom: 15px;
}

.options a {
    margin-bottom: 4%;
    margin-left: 20%;
    display: block;
    padding: 4%;
    color: white;
    text-decoration: none;
    background-color: #2e2e2e;
}

.options a:hover {
    background-color: #fff;
    color: #000;
    border-radius: 5%;
    margin-right: 20%;
}

.logout {
    overflow: hidden;
    font-size: 1.2vw;
    margin-top: 80%;
    margin-left: 3%;
    bottom: 0%;
    position: fixed;
    padding: 1%;
    cursor: pointer;
}

.logout a {
    margin-bottom: 4%;
    margin-left: 20%;
    display: block;
    color: white;
    text-decoration: none;
    background-color: #2e2e2e;
}

.logout:hover {
    background-color: #cd212a;
    color: #fff;
    border-radius: 15%;
}   

.adminGreetings {
    width: 20%;
}

.helloAdmin {
    font-size: 2rem;
    text-align: center;
    background-color: #CD212A;
    min-width: 15rem;
    padding: 1rem;
    border-radius: 10px;
   /* box-shadow: inset 15px 15px 30px #212121,
                inset -15px -15px 30px #3b3b3b; */
}

.pageContent {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 2rem;
    margin: 1rem;
    width: 100%;
    overflow-y: scroll;
}

.pageContent::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.adminContent {
    background-color: #2e2e2e;
    width: auto;
    height: 850px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
    overflow-y: scroll;
}

.adminContent::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    scroll-behavior: smooth;
}

.adminContent::-webkit-scrollbar-track {
    background: #302c2c;
}

.adminContent::-webkit-scrollbar-thumb {
    background: #CD212A;
    border-radius: 5rem;
}

.orderHeading {
    
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 4rem;
    height: auto;
    align-items: center; 
    background-color: #2e2e2e;
    box-shadow: inset 15px 15px 30px #212121,
                inset -15px -15px 30px #3b3b3b;
    width: 125rem;
}
.orderHeading div{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1.5rem;
 
}

.orderRow {
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    background-color: #2e2e2e;
    box-shadow: inset 15px 15px 30px #212121,
                inset -15px -15px 30px #3b3b3b;
    width: 125rem;
}
.orderRow div{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1rem;
    flex: 1;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.orderRow div button{
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    width: 80%;
    height: 3rem;
    text-transform: uppercase;
    background-color: #555555;
    border-radius: 5px;
}

.orderRow div button:hover{
   background-color: #008C45;
}

.col1 {
    min-width: 7rem;
    max-width: 7rem;
}

.col2 {
    min-width: 13rem;
    max-width: 13rem;
}

.col3 {
    min-width: 20rem;
    max-width: 20rem;
}

.colx {
    min-width: 4rem;
    max-width: 4rem;
}

.colx button{
    background-color: red;
    border: none;

    width: 3rem !important;
    height: 3rem !important;
    border-radius: 50% !important;
        
    background-color: #2e2e2e;
    box-shadow: inset 15px 15px 30px #212121,
                inset -15px -15px 30px #3b3b3b;
 
}

#transactionModalAdmin
{
    position: fixed; /* Stay in place */
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    text-align: center;
    justify-content: center !important;
    align-items: center !important;
    font-family: 'Poppins', sans-serif;
    z-index: 1;
}


.mContent
{     
    box-sizing: border-box;
    padding: 30px;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    min-height: clamp(300px, 55vh, 300px);
    min-width: clamp(350px, 100vw, 350px);
    max-width: clamp(570px, 100vw, 570px);
    background-color: #f3eee8;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;

   
}

.mContent p, .mContent h3 {
    color: black;
    text-align: center;
}

.mContent h3 {
    font-size: 2rem !important;
}

.mContent p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 2rem;
}

.summaryButtons
{
    text-align: center;
    background-color: black;
    text-decoration: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;

}

.summaryButtons:hover
{
    cursor: pointer;
    transition: linear 0.1s;
    background-color: #2e2e2e;
}

