/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02 14, 22, 1:50:52 AM
    Author     : chuah_000
*/

@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

*{
    font-family: 'Satisfy', cursive;
    color: #fff;
    margin: 0;
    padding: 0;
}

html,body {
    background-color: #1e1f20;
    height:100%; 
}

.contentHolder {
    height: 100%;
    display: flex;
}

.sidebar {
    background-color: #2e2e2e;
    height: 100%;
    width: 15%;
    border-top-right-radius:5%;
    border-bottom-right-radius:5%;
}

.logo {
    border-radius: 50%;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    margin-bottom: 27%;
}

.adminOptions {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2e2e2e;
    font-size: 1.5vw;
}

.options {
    float: bottom;
    background-color: #2e2e2e
}

.options a {
    margin-bottom: 4%;
    margin-left: 20%;
    display: block;
    color: white;
    padding: 4%;
    text-decoration: none;
    background-color: #2e2e2e
}

.options a:hover {
    background-color: #fff;
    color: #000;
    border-radius: 5%;
    margin-right: 20%;
}

.logout {
    overflow: hidden;
    font-size: 1.2vw;
    margin-top: 80%;
    margin-left: 3%;
    bottom: 0%;
    position: fixed;
    padding: 1%;
    cursor: pointer;
}

.logout a {
    margin-bottom: 4%;
    margin-left: 20%;
    display: block;
    color: white;
    text-decoration: none;
    background-color: #2e2e2e
}

.logout:hover {
    background-color: #cd212a;
    color: #fff;
    border-radius: 15%;
}

.adminGreetings {
    width: 30%;
}

.helloAdmin {
    font-size: 3vw;
    text-align: center;
    background-color: #2e2e2e;
    padding: 1vw;
    border-radius: 10px;
    box-shadow: inset 15px 15px 30px #212121,
        inset -15px -15px 30px #3b3b3b;
}

.pageContent {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1rem;
    margin: 1rem;
    width: 100%;
}

.adminContent {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 1vw;
    
    border-radius: 5px;
    font-family: "roboto";
}

.arrangeOptions {
    width: 100%;
    margin-top: -1%;
    background-color: #2e2e2e;
    border-radius: 5px;
    padding: 1%;
    align-items: center;
}

label {
    background-color: #2e2e2e;
    font-size: 1.5vw;
    margin-left: 2%;
}

.arrange {
    background-color: #000;
    color: #fff;
    font-size: 1.5vw;
}


.orderProperties {
    display: flex;
    width: 100%;
    padding: 1%;
    margin: -1% 0 -2% 0;
    font-size: 1.5vw;
    align-items: center;
}

.property {
    flex: 1;
    justify-content: center;
    text-align: center;
}

.test {
    background-color: yellow;
    color: pink;
}

.orderMain {
    max-height: 65%;
    overflow-x: hidden;
    overflow-y: auto;
}

.orderMain::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    scroll-behavior: smooth;
}

.orderMain::-webkit-scrollbar-track {
    background:#302c2c;
}

.orderMain::-webkit-scrollbar-thumb {
    background: #CD212A;
    border-radius: 5rem;
}

.orderBody {
    display: flex;
    width: 100%;
    margin: 1% 0 0 0;
    padding: 1%;
    background-color: #2e2e2e;
    border-radius: 5px;
    font-size: 1.5vw;
    box-shadow: inset 8px 8px 16px #252525,
                inset -8px -8px 16px #373737;
}

.orderPropertyColumnBig {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.orderPropertyRow {
    display: flex;
    flex: 1;
}

.orderPropertyEmptyRow {
    display: flex;
    flex: 1;
    visibility: hidden;
}

.orderPropertyEmptyRow2 {
    display: flex;
    flex: 1;
    font-size: 0.8vw;
    text-align: center;
    align-items: center;
}

.orderPropertyChildren {
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
}

.orders {
    background-color: #2e2e2e;
    margin-top: 1%;
    margin-left: 5%;
    width: 99%;
    font-size: 1.5vw;
    border-radius: 2.5%;
    padding: 1%;
}

.pagenumbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.pagenumbers button {
    width: 5%;
    height: 120%;

    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;

    background-color: #555555;

    margin: 5px;
    transition: 0.4s;

    color: #FFF;
    font-size: 1vw;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    
    border-radius: 5px;
}

.pagenumbers button:hover {
    background-color: #008C45;
}

.pagenumbers button.active {
    background-color: #008C45;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.PDFGenerator {
    margin-left: 5%;
    bottom: 5%;
    position: fixed;
}

.generatePDF {
    width: 25%;
    height: 25%;

    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;

    background-color: #555555;

    margin: 1.2vw 2vw 8vw 5px;
    padding: 1vw;
    transition: 0.4s;

    color: #FFF;
    font-size: 1.2vw;
    vertical-align: center;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    
    border-radius: 5px;
}

.generatePDF:hover {
    background-color: #008C45;
}

.generatePDF.active {
    background-color: #008C45;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}