/*
GAWAN NG MAX WIDTH MGA PICTURES
*/

@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:wght@300&display=swap');
*{
    font-family: 'Satisfy', cursive;
    color: #fff;
    margin: 0;
    padding: 0;
}

html,body { 
    height:100%; 
    background-color: #1e1f20;
}
.contentHolder {
    height: 100%;
    display: flex;
}

.sidebar {
    background-color: #2e2e2e;
    height: 100%;
    width: 15%;
    border-top-right-radius:5%;
    border-bottom-right-radius:5%;
 
    
}

.logo {
    border-radius: 50%;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    margin-bottom: 27%;
}

.adminOptions {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2e2e2e;
    font-size: 1.5vw;
}

.options {
    float: bottom;
    background-color: #2e2e2e
}

.options a {
    margin-bottom: 4%;
    margin-left: 20%;
    display: block;
    color: white;
    padding: 4%;
    text-decoration: none;
    background-color: #2e2e2e
}

.options a:hover {
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    margin-right: 20%;
}

.logout {
    overflow: hidden;
    font-size: 1.2vw;
    margin-top: 80%;
    margin-left: 5%;
    bottom: 0%;
    position: fixed;
    padding: 1%;
    cursor: pointer;
}

.logout a {
    margin-bottom: 4%;
    margin-left: 20%;
    display: block;
    color: white;
    text-decoration: none;
    background-color: #2e2e2e
}

.logout:hover {
    background-color: #cd212a;
    color: #fff;
    border-radius: 15%;
}   

.adminGreetings {
    width: 20%;
}



.helloAdmin {
    font-size: 3rem;
    text-align: center;
    background-color: #2e2e2e;
    min-width: 15rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: inset 15px 15px 30px #212121,
                inset -15px -15px 30px #3b3b3b;
}

.pageContent {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 2rem;
    margin: 1rem;
    width: 100%;
    overflow-y: scroll;
}

.pageContent::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.pizzaOrTopping {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    min-height: 2.5rem;
}

.pizzaOrTopping li, button{
    text-align: center;
    font-size: 2rem;
    height: 100%;
    background-color: black;
    border-radius: 10px;
    min-width: 150px;
    background: #2e2e2e;
    box-shadow: inset 15px 15px 30px #212121,
                inset -15px -15px 30px #3b3b3b;
}


.pizzaOrTopping li:hover {
    background: #5c5c5c;
    cursor: pointer;
}
.adminContent {
    background-color: #2e2e2e;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
    font-family: "roboto";
}

.pizzaOrToppingContent {
    width: auto;
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 1.5rem;
}

.pizzaOrToppingContent::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    scroll-behavior: smooth;
}

.pizzaOrToppingContent::-webkit-scrollbar-track {
    background: #302c2c;
}

.pizzaOrToppingContent::-webkit-scrollbar-thumb {
    background: #CD212A;
    border-radius: 5rem;
}

.pizzaOrToppingForm {
    color: black;
    display: flex;
    flex-direction: column;
    min-width: 25rem;
    max-width: 24rem;
    justify-content: center;
    text-align: center;
    padding: 3rem;
    height: auto;
    border-radius: 10px;
    align-content: center;
    gap: 0.8rem;
    background: linear-gradient(145deg, #292929, #313131);
    background: #2e2e2e;
    box-shadow: inset 15px 15px 30px #212121,
                inset -15px -15px 30px #3b3b3b;
}

.pizzaOrToppingImage {
    height: 300px;
    width: auto;
}
input, button {
    padding: 0.5rem;
    background: none;
    font-size: 1rem;
    width: auto;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

img {
    border-radius: 10px;
}
buttonh:over {
    cursor: pointer;
}