/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02 12, 22, 1:56:05 AM
    Author     : chuah_000
*/
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
*{
    background-color: #1e1f20;
    font-family: 'Satisfy', cursive;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;   
}

html,body {
    height: 100%; 
}

.contents404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    gap: 10px;
}

.contentsDenied {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    gap: 10px;
}

.pizza404 {
    max-width: 1000px;
    min-width: 400px;
    max-height: 1000px;
    min-height: 400px; 
}

.timerExpired{
    max-width: 600px;
    min-width: 400px;
    max-height: 600px;
    min-height: 400px; 
    background: transparent;
}

.accessError { 
    max-width: 1000px;
    min-width: 400px;
    max-height: 1000px;
    min-height: 400px; 
    background: transparent;
    animation: stop 2s;
    animation-iteration-count: infinite;
    
}

.timerExpired{
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes stop {
    
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
    }

    .headtext404 {
        color: #B3A47A;
        text-align: center;
        font-size: 3rem;
    }

    .cheese404 {
        max-width: 7%;
        max-height: 7%;
    }

    .shrimp404 {
        max-width: 7%;
        max-height: 7%;
    }

