@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

.line {
    display: flex;
    height: 4rem;
    margin-top: 4rem;
}

.colmine1{
    width:  100%;
    background-color: #CD212A;
}
.colmine2{
    width:  100%;
    background-color: #F4F5F0;
}

.colmine3{
    width:  100%;
    background-color: #008C45;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8.5rem;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #fff;
}

html::-webkit-scrollbar-thumb {
    background: #CD212A;
    border-radius: 5rem;
}

section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    padding-bottom: 2rem;
}

.heading span {
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
    color: #CD212A;
}

.heading h3 {
    font-size: 3rem;
    color: black;
}
/*Index Button CSS*/
.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .7rem 1.8rem;
    font-size: 1.7rem;
    cursor: pointer;
    color: white;
    background: #CD212A;
    border-radius: .5rem;
}

/*Start of Nav Bar CSS*/
.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #302c2c;
    -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 2rem 9%;
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: white;
}

.header .logo i {
    padding-right: .5rem;
    color: #CD212A;
}

.header .navbar a {
    font-size: 1.7rem;
    margin: 0 1rem;
    color: white;
}

.header .navbar a:hover {
    color: #CD212A;
}

.navLink.active {
    color: #CD212A !important;
    border-bottom: 2px solid gray;
}

.header .icons a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    background: whitesmoke;
    color: #1e1f20;
    border-radius: .5rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons a:hover{
    color: #fff;
    background: #CD212A;
}
/*End of Nav Bar CSS*/

#menu-btn {
    display: none;
}

@-webkit-keyframes fadeUp {
    0% {
        -webkit-transform: translateY(5rem);
        transform: translateY(5rem);
        opacity: 0;
    }
}

@keyframes fadeUp {
    0% {
        -webkit-transform: translateY(5rem);
        transform: translateY(5rem);
        opacity: 0;
    }
}

/* Deleted Search Function
.search-form-container {
    position: fixed;
    top: 8.5rem;
    left: 0;
    right: 0;
    height: calc(100vh - 8.5rem);
    background: #fff;
    z-index: 1000;
    display: none;
}

.search-form-container.active {
    display: block;
}

.search-form-container form {
    height: 7rem;
    border-bottom: 0.2rem solid #130f40;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-animation: fadeUp .4s linear;
    animation: fadeUp .4s linear;
}

.search-form-container form input {
    height: 100%;
    width: 100%;
    font-size: 1.7rem;
    color: #130f40;
    text-transform: none;
    padding-right: 1rem;
}

.search-form-container form label {
    font-size: 3rem;
    cursor: pointer;
    color: #130f40;
}

.search-form-container form label:hover {
    color: #27ae60;
}
*/

/*
.shopping-cart-container {
    position: fixed;
    top: 8.5rem;
    left: 0;
    right: 0;
    z-index: 1000;
    height: calc(100vh - 8.5rem);
    background: #fff;
    overflow-y: scroll;
    padding-bottom: 8rem;
    display: none;
}

.shopping-cart-container.active {
    display: block;
}

.shopping-cart-container::-webkit-scrollbar {
    width: 1rem;
}

.shopping-cart-container::-webkit-scrollbar-track {
    background: #fff;
}

.shopping-cart-container::-webkit-scrollbar-thumb {
    background: #130f40;
    border-radius: 5rem;
}

.shopping-cart-container .title {
    font-size: 2.5rem;
    padding: 1rem;
    color: #130f40;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    text-align: center;
}

.shopping-cart-container .products-container {
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    -webkit-animation: fadeUp .4s linear;
    animation: fadeUp .4s linear;
}

.shopping-cart-container .products-container .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    padding: 1.5rem;
}

.shopping-cart-container .products-container .box-container .box {
    border-radius: .5rem;
    background: #f7f7f7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    position: relative;
}

.shopping-cart-container .products-container .box-container .box .fa-times {
    position: absolute;
    top: .7rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: #130f40;
}

.shopping-cart-container .products-container .box-container .box .fa-times:hover {
    color: #27ae60;
}

.shopping-cart-container .products-container .box-container .box img {
    height: 8rem;
}

.shopping-cart-container .products-container .box-container .box .content h3 {
    font-size: 2rem;
    color: #130f40;
}

.shopping-cart-container .products-container .box-container .box .content span {
    font-size: 1.5rem;
    color: #666;
}

.shopping-cart-container .products-container .box-container .box .content span.price {
    color: #27ae60;
    font-size: 1.7rem;
}

.shopping-cart-container .products-container .box-container .box .content input {
    width: 8rem;
    padding: .5rem 1.2rem;
    font-size: 1.5rem;
    color: #130f40;
    margin: .7rem 0;
}

.shopping-cart-container .cart-total {
    margin-top: 2rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    -webkit-animation: fadeUp .4s linear .4s backwards;
    animation: fadeUp .4s linear .4s backwards;
}

.shopping-cart-container .cart-total .box {
    padding: 1.5rem;
}

.shopping-cart-container .cart-total .box h3 {
    color: #130f40;
    font-size: 2rem;
    padding-bottom: .7rem;
}

.shopping-cart-container .cart-total .box h3 span {
    color: #27ae60;
}
*/

/*Login Form CSS start*/
.login-form-container {
    position: fixed;
    top: 8.5rem;
    left: 0;
    right: 0;
    z-index: 1000;
    height: calc(100vh - 8.5rem);
    background: #fff;
    padding: 0 2rem;
    display: none;
}

.login-form-container.active {
    display: block;
}

.login-form-container form {
    margin: 2rem auto;
    max-width: 40rem;
    -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 2rem;
    border-radius: .5rem;
    -webkit-animation: fadeUp .4s linear;
    animation: fadeUp .4s linear;
}

.login-form-container form h3 {
    padding-bottom: 1rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #130f40;
}

.login-form-container form .box {
    margin: .7rem 0;
    border-radius: .5rem;
    background: #f7f7f7;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: #130f40;
    text-transform: none;
    width: 100%;
}

.login-form-container form .remember {
    padding: 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: .5rem;
}

.login-form-container form .remember label {
    font-size: 1.5rem;
    cursor: pointer;
    color: #666;
}

.login-form-container form .btn {
    margin: 1rem 0;
    width: 100%;
    text-align: center;
}

.login-form-container form p {
    padding-top: 1rem;
    font-size: 1.5rem;
    color: #666;
}

.login-form-container form p a {
    color: #27ae60;
}

.login-form-container form p a:hover {
    color: #130f40;
    text-decoration: underline;
}
/*Login Form CSS end*/


.home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    gap: 2rem;
    position: relative;
    overflow: hidden;
}

.home .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 41rem;
    flex: 1 1 41rem;
}

/*Welcome to Paul's Pizzeria*/
.home .content span {
    font-size: 2rem;
    color: #CD212A;
}

/*Anytime is a Good time for Pizza*/
.home .content h3 {
    font-size: 4rem;
    color: black;
    padding-top: 1rem;
}

/*Par*/
.home .content p {
    font-size: 1.4rem;
    color: black;
    line-height: 2;
    padding: 1rem 0;
}

/*Home Page Picture CSS start*/
.home .image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 41rem;
    flex: 1 1 41rem;
    margin: 2rem 0;
    pointer-events: none;
}

.home .image .home-img {
    width: 100%;
    margin-top: 5rem;
}

.home .home-parallax-img {
    position: absolute;
    top: -10rem;
    right: -10rem;
    width: 80vw;
}
/*Home Page Picture CSS end*/

/*
.category {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
    padding-bottom: 5rem;
}

.category .box{
    padding: 2rem;
    text-align: center;
    border-radius: .5rem;
    background: #302c2c;
}

.category .box:hover {
    background: #27ae60;
}

.category .box:hover h3 {
    color: #fff;
}

.category .box img {
    height: 7rem;
}

.category .box h3 {
    font-size: 1.8rem;
    color: #130f40;
}
*/

/*Change Password CSS start*/
.changePass {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: white;
    text-align: justify;
    font-size: 1.5rem;
    -webkit-transition: none !important;
    transition: none !important;
    justify-content: center;
    background-image: url('../image/testBG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.changePass .content {
    text-align: center;
}

.changePass .content .formTitle {
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
    color: #574b3e;
}

#changePassForm {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: #f7f7f7;
    padding: 4rem;
    border-radius: 50px 0px 50px 0px;
}
/*Change Password CSS end*/


/*Login Form CSS Start*/
.LRForm {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #f7f7f7;
    text-align: justify;
    font-size: 1.5rem;
    -webkit-transition: none !important;
    transition: none !important;
}

.inputsC{
    padding: 1.2rem;
    background: none;
    border-bottom: 2px solid gray;
    font-size: 1.5rem;
    min-width: 40rem;
}

.inputsC:hover{
    font-size: 1.6rem;
}


#loginForm {
    gap: 3rem;

}

#regForm {
    gap: 1rem;
    padding: 1.5rem;
}

.LRForm .content .formTitle {
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
    color: #574b3e;
}

.inputs{
    padding: 1.5rem;
    background: none;
    border-bottom: 2px solid gray;
    font-size: 1.5rem;
    min-width: 40rem;
}

.inputs:hover{
    font-size: 1.6rem;
}

.inputsR{
    padding: 1rem;
    background: none;
    border-bottom: 2px solid gray;
    font-size: 1.5rem;
    min-width: 40rem;
}

.inputsR:hover{
    font-size: 1.6rem;
}

#recaptcha{
    background: white;
    border: 1px solid black;
    color: black;
    text-align: center;
}

.LRButton{
    background: #574b3e;
    border: none;
    color: white;
}

.LRButton:hover{
    cursor: pointer;
    background: #27ae60;
    color: black;
}

.LRForm .image {
    min-height: 70vh;
    background-color: #f3eee8;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
    background-image: url("../image/loginbg.JPG");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.LRForm .content {
    min-height: 70vh;
    background-color: #f3eee8;;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.LRForm .content form {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
/*Login Form CSS end*/

/*Order Status CSS Start*/
.status {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../image/loginbg.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.statusheader {
    display: flex;
    width: 100%;
    padding: 3rem;
    min-height: 2.5vh;
    background-color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.headertext {
    font-family: 'Satisfy', cursive;
    font-size: 5rem;
    color: white;
}

.statuscontent {
    display: flex;
    width: 100%;
    padding: 5rem 5rem 0rem 5rem;
    background-color: #f3eee8EE;
    align-items: center;
    font-size: 3rem;
    color: #574b3e;
}

.statusitem {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: justify;
    border-right: 2px solid #574b3e;
}

.statusimg {
    width: 4vw;
    height: 4vw;
    margin: 0.5vw 2vw 0 2vw;
}

.statusitem2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: justify;
}

.item {
    display: flex;
    min-height: 20vh;
}

.item2 {
    display: flex;
    min-height: 26.8vh;
}

.statuscontent2 {
    display: flex;
    width: 100%;
    padding: 0 5rem 5rem 5rem;
    min-height: 30vh;
    background-color: #f3eee8EE;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #574b3e;
}

.statusitem3 {
    width: 100%;
    height: 50%;
    padding: 5rem 0 0 0;
    justify-content: center;
    text-align: center;
}

.feedbackbutton:link, .feedbackbutton:visited {
    margin: 1rem;
    background-color: #574b3e;
    color: white;
    padding: 1rem;
    text-align: center;
    display: inline-block;
}
/*Order Status CSS End*/

/*Feedback CSS Start*/
.feedbackbutton:hover, .feedbackbutton:active{
    background-color: #27ae60;
}

.feedback {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../image/loginbg.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.feedbackheader {
    display: flex;
    width: 100%;
    padding: 3rem;
    min-height: 2.5vh;
    background-color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.headerfeedback {
    font-family: 'Satisfy', cursive;
    font-size: 5rem;
    color: white;
}

.feedbackcontent{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3rem 3rem 0 3rem;
    background-color: #f3eee8EE;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    color: #574b3e;
}

#feedbackForm {
    padding: 5rem;
}

.feedbackitem0 {
    display: flex;
    width: 100%;
}

.feedbackitem {
    display: flex;
    width: 100%;
    padding: 1vw;
}

.labels{
    display: flex;
    flex: 2 1 0;
}

.itemf{
    display: flex;
    flex: 1 1 0;
    justify-content: center;
}

.feedback img {
    width: 4vw;
    height: 4vw;
    margin: 1vw;
}

textarea#feedbacktext {
    display: block;
    width: 70vw;
    height: 20vh;
    border: 3px solid #574b3e;
    padding: 1vw;
    resize: none;
    overflow: auto;
    font-size: 2rem;
}

.feedbacksubmit {
    padding: 1.5vw;
    margin: 0 5rem 5rem 5rem;
    background: none;
    font-size: 2rem;
    min-width: 18vw;
    background: #574b3e;
    border: none;
    color: white;
}

.feedbacksubmit:hover {
    font-size: 2.5rem;
    cursor: pointer;
    background: #27ae60;
    color: black;
}
/*Feedback CSS End*/

/*About Section CSS Start*/
.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
    background: #f7f7f7;
    text-align: justify;
}

.about .image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
}

.about .image img {
    width: 100%;
}

.about .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
}

.about .content span {
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
    color: #27ae60;
}

.about .content .title {
    font-size: 3rem;
    padding-top: .5rem;
    color: #130f40;
}

.about .content p {
    padding: 1rem 0;
    line-height: 2;
    font-size: 1.4rem;
    color: #666;
}

.about .content .icons-container {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about .content .icons-container .icons {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 20rem;
    flex: 1 1 20rem;
    border-radius: .5rem;
    background: #fff;
    -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.about .content .icons-container .icons h3 {
    font-size: 1.7rem;
    color: #130f40;
}
/*About Section CSS End*/

/*Popular Section CSS Start*/
.popular .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(25rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.popular .box-container .box {
    border-radius: .5rem;
    position: relative;
    background: #f7f7f7;
    padding: 2rem;
    text-align: center;
}

.popular .box-container .box .fa-heart {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2.5rem;
    color: #666;
    cursor: pointer;
}

.popular .box-container .box .fa-heart:hover {
    color: #27ae60;
}

.popular .box-container .box .image {
    margin: 1rem 0;
}

.popular .box-container .box .image img {
    height: 15rem;
}

.popular .box-container .box .content h3 {
    font-size: 2rem;
    color: #130f40;
}

.popular .box-container .box .content .stars {
    padding: 1rem 0;
    font-size: 1.7rem;
}

.popular .box-container .box .content .stars i {
    color: gold;
}

.popular .box-container .box .content .stars span {
    color: #666;
}

.popular .box-container .box .content .price {
    font-size: 2rem;
    color: #130f40;
}

.popular .box-container .box .content .price span {
    font-size: 1.5rem;
    color: #666;
    text-decoration: line-through;
}
/*Popular Section CSS End*/

/*Promo Section CSS Start*/
.banner .row-banner {
    background: url(../image/row-banner.png) no-repeat;
    height: 45rem;
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner .row-banner .content {
    position: absolute;
    top: 50%;
    left: 7%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.banner .row-banner .content span {
    font-family: 'Satisfy', cursive;
    font-size: 4rem;
    color: #27ae60;
    color: #130f40;
}

.banner .row-banner .content h3 {
    font-size: 6rem;
    color: red;
    text-transform: uppercase;
}

.banner .row-banner .content p {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.banner .grid-banner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.banner .grid-banner .grid {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    height: 45rem;
}

.banner .grid-banner .grid:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.banner .grid-banner .grid img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.banner .grid-banner .grid .content {
    position: absolute;
    top: 2rem;
    padding: 0 2rem;
}

.banner .grid-banner .grid .content.center {
    text-align: center;
    width: 100%;
}

.banner .grid-banner .grid .content.center span {
    color: #666;
}

.banner .grid-banner .grid .content.center h3 {
    color: #130f40;
}

.banner .grid-banner .grid .content span {
    font-size: 2.5rem;
    color: #fff;
}

.banner .grid-banner .grid .content h3 {
    font-size: 3rem;
    color: #fff;
    padding-top: .5rem;
}
/*Promo Section CSS End*/

/*Menu Page CSS Start*/
.menu .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    border-radius: .5rem;
    background: #f7f7f7;
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.5rem;
}

.menu .box-container .box:hover {
    background: #130f40;
}

.menu .box-container .box:hover .content h3 {
    color: #fff;
}

.menu .box-container .box img {
    height: 10rem;
}

.menu .box-container .box .content h3 {
    font-size: 2rem;
    color: #130f40;
    padding-bottom: .5rem;
}

.menu .box-container .box .content .price {
    font-size: 1.8rem;
    color: #27ae60;
}


.blogs .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1.5rem;
}

.blogs .box-container .box {
    border-radius: .5rem;
    overflow: hidden;
}

.blogs .box-container .box:hover .image h3 {
    left: 1.5rem;
}

.blogs .box-container .box:hover .image img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.blogs .box-container .box .image {
    position: relative;
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.blogs .box-container .box .image h3 {
    position: absolute;
    z-index: 10;
    top: 1rem;
    left: -100%;
    border-radius: .5rem;
    padding: .5rem 1rem;
    background: #fff;
    color: #130f40;
    font-size: 1.5rem;
}

.blogs .box-container .box .image h3 i {
    padding-right: .5rem;
    color: #27ae60;
}

.blogs .box-container .box .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.blogs .box-container .box .content {
    padding: 2rem 1.5rem;
    background: #f7f7f7;
}

.blogs .box-container .box .content .tags {
    padding-bottom: 1rem;
}

.blogs .box-container .box .content .tags a {
    font-size: 1.5rem;
    color: #666;
    padding-right: .5rem;
}

.blogs .box-container .box .content .tags a:hover {
    color: #27ae60;
}

.blogs .box-container .box .content .tags a i {
    color: #27ae60;
    padding-right: .5rem;
}

.blogs .box-container .box .content h3 {
    font-size: 2rem;
    color: #130f40;
}

.blogs .box-container .box .content p {
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 0;
    line-height: 2;
}
/*Menu Page CSS End*/

/*Order Now Section CSS Start*/
.order .icons-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.order .icons-container .icons {
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
    background: #f7f7f7;
}

.order .icons-container .icons img {
    height: 10rem;
}

.order .icons-container .icons h3 {
    font-size: 2rem;
    color: #130f40;
    margin-top: .5rem;
}

.order form {
    background: #f7f7f7;
    padding: 2rem;
    border-radius: .5rem;
}

.order form .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.order form .flex .inputBox {
    width: 49%;
    padding: .7rem 0;
}

.order form .flex span {
    font-size: 1.7rem;
    color: #666;
}

.order form .flex input, .order form .flex textarea {
    width: 100%;
    margin-top: .5rem;
    padding: 1rem 1.2rem;
    width: 100%;
    border-radius: .5rem;
    font-size: 1.6rem;
    text-transform: none;
    color: #130f40;
}

.order form .flex textarea {
    height: 20rem;
    resize: none;
}

.order form .flex .map {
    height: 100%;
    width: 100%;
    border-radius: .5rem;
}
/*Order Now Section CSS End*/

/*Footer Section Starts*/
.footer{
    background: #f7f7f7;
}

.footer .newsletter {
    text-align: center;
    margin-bottom: 2rem;
}

.footer .newsletter h3 {
    font-size: 2.5rem;
    color: #130f40;
    padding-bottom: 1rem;
}

.footer .newsletter form {
    max-width: 70rem;
    margin: 1rem auto;
    max-width: 70rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: .5rem;
    overflow: hidden;
}

.footer .newsletter form input[type="email"] {
    height: 100%;
    width: 100%;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: #130f40;
    text-transform: none;
}

.footer .newsletter form input[type="submit"] {
    padding: 0 2rem;
    font-size: 1.6rem;
    color: #fff;
    background: #27ae60;
    cursor: pointer;
}

.footer .newsletter form input[type="submit"]:hover {
    background: #130f40;
}

.footer .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    color: #130f40;
    padding: 1rem 0;
}

.footer .box-container .box p {
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 0;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 0;
}

.footer .box-container .box a:hover {
    color: #27ae60;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .box-container .box a i {
    padding-right: .5rem;
    color: #27ae60;
}

.footer .bottom {
    padding-top: 1rem;
    text-align: center;
}

.footer .bottom .share {
    margin: 1.5rem 0;
}

.footer .bottom .share a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    border-radius: .5rem;
    margin: 0 .3rem;
    color: #fff;
    background: #27ae60;
}

.footer .bottom .share a:hover {
    background: #130f40;
}

.footer .bottom .credit {
    font-size: 2rem;
    color: #666;
    padding: 1rem;
}

.footer .bottom .credit span {
    color: #27ae60;
}
/*Footer Section End*/

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 2rem;
    }
    section {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }
    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar.active {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .header .navbar a {
        font-size: 2rem;
        margin: 2rem;
        display: block;
    }
    .home .home-parallax-img {
        top: 0;
        right: 0;
        width: 130%;
    }
    .order form .flex .inputBox {
        width: 100%;
    }

    .LRForm .image {
        min-height: 35vh !important;
    }
    .LRForm .content {
        min-height: 65vh !important;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
        min-width: 350px;
    }
    .shopping-cart-container .cart-total .box {
        text-align: center;
    }
    .shopping-cart-container .cart-total .box .btn {
        width: 100%;
    }
    .home .content h3 {
        font-size: 3rem;
    }
    .home .content p {
        font-size: 1.5rem;
    }

    #changePassForm {
        min-height: 100vh !important;
        min-width: 100vw !important;
        border-radius: 0px !important;
        justify-content: center;
    }

    #changePass {
        background-image: none;
        background-color: #f7f7f7 !important;
    }

}

@media (max-width: 860px) {
    .statuscontent {
        display: flex;
        flex-wrap: wrap;
    }

    .statusitem {
        border-right: none;
    }

    .statusitem3 {
        border-top: 2px solid #574b3e;
    }
}
/*# sourceMappingURL=style.css.map */
